body{
    background-image: url(https://cdn.hipwallpaper.com/i/86/7/kDftMm.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div{
    color: white;
}